/* This will create the box/header where the titel of the website is. */
.header {
  background-color: rgb(202, 150, 120);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
  font-size: 150%;
  
}
/* Everything what will be written with div has this layout */
div {
  background-color: rgb(222, 149, 100);
  width: auto;
  margin: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 10px;
  border-radius: 5px;
  border: 2px solid rgb(77, 36, 75);
  
}



/* Create equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 55px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

 /* Creates the styling of the images*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(77, 36, 75);
  border-radius: 4px;
  padding: 5px;
  width: auto;

}


 /* Box with a text which is linked, before you click on the link*/
a:link, a:visited {
  background-color: rgb(90, 74, 192);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  left: 7px;
  right: auto;
  
  
}

/* If you go over=hover the box with the link if will change it's colour. */
a:hover, a:active {
  background-color: rgb(119, 75, 213);
}

/* Create the box where the name of the dessert is listed. */
.boxofK{
  background-color: rgb(222, 149, 100);
  text-align: center;
  border: 2px solid rgb(77, 36, 75);
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 810px;
}



