*,
*::before,
*::after {
  box-sizing: content-box;
}

/* Is responsible that the box-sizing takes into account the padding of the text and adjust to it.*/
* {
  box-sizing: border-box;
}

/* Is responsive that the blocks/bodys don't overlap */
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

/* Styles the navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Styles the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Styles the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Changes color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Creates right column rhat floats under each other*/
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 40px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Creates the Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* This whole code I copied form w3school.com (https://www.w3schools.com/css/css_website_layout.asp). I chaned the text and also the picture. I also changed some names of some classes so they have a logical name which is based on the content in boxes/cloums. */
